/* ADMIN SIDE (ACCOUNT SETTINGS) */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    background: #A8E0FF;
    margin: 0;

}



.logo{
    background-color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;

    
}
.logo img {
  padding: 3px;

}
.login {
    background-color: white;
    display: flex; 
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    
}

.login img{
  width: 40px;
  margin-right:5px;
}

.logout {
  background-color: white;
  display: flex; 
  justify-content: space-between;
  align-items:center;
  padding: 10px;

  
}
.logout .img {
  width: 40px;
  margin-right:5px;

}


.name {
  cursor: pointer;
  text-align:center;
  border: 1px solid #a8e1ff;
  width: 300px;
  font-size: 20px;
  align-items:baseline;
  padding: 7px;
  margin-right: 1100px;
}

  
.navbar{
  display:flex;
  flex-direction:inherit;
  gap: 100px;
  list-style:none;
  font-size: 26px;
  text-align: center; 
  cursor: pointer;
  margin-top: 70px;
  margin-right: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

} 

a {
  text-decoration: none;
}

.item {
  margin-bottom: 10px;
}

p {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 185px; 
  margin: 0;
  vertical-align: top;
}

.password, .admin_name, .username, .email, .phone, .admin_id {
  cursor: pointer;
  text-align: left;
  border: 1px solid #010101;
  width: 300px;
  font-size: 23px;
  padding: 10px;
  display: inline-block;
  margin: 0;
}


.edit {
  display:block;
  margin-left: 300px;
  font-size: 18px;
}

.edit img {
  width: 18px;
  height: 18px;
}


.button-container {
  position:absolute;
  bottom: 100px;
  right: 100px;
  display: flex;
  gap: 20px;
}

.save_changes {
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  width: fit-content;
  font-size: 20px;
  padding: 5px;
  margin: 25px;
  background: #a8e1ff;
  
 
  
}
.cancel {
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  width: fit-content;
  font-size: 20px;
  padding: 5px;
  margin: 25px;
  
}

.navbar li {
    padding-bottom: 20px;
 
  
    
}



.textArea{
    position: relative;
    margin: 50px;
    padding: 180px;
    height: 880px;
    background: #FFFFFF;
    background-image:linear-gradient(rgb(255, 255,255, .5),rgb(255, 255,255, .5));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 24px;
    text-align:left;
  
    
    

}
.textArea::before {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #333; 
  box-sizing: border-box;
  padding: 100px;
  margin: 88px;
  
}


.account_settings {
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  width:fit-content;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

  





  @media (max-width:768px) {
    
    .logo img{
        width: 200px;
    }
    .login img {
        width: 40px;
    }

    .textArea {
        padding: 10px;
    }

    .navbar{
         display: none;
    
  }
  
}
@media (max-width: 768px) {
    
}

@media (min-width: 769px) and (max-width: 1024px) {
   
}

@media (min-width: 1025px) {
   
}